extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}

  .row
    .col-xs-12.col-sm-8
      .row.list-group

        each location in locations
          .col-xs12.list-group-item
            h3
              a(href='/location')= location.theme
              span.badge.pull-right.badge-default= location.participants
            span.badge.pull-right.badge-default= location.distance
            p.address= location.address
            p
              each element in location.provided
                span.label.label-success= element
                  &nbsp;
              each element in location.required
                span.label.label-primary= element
                  &nbsp;

    .col-xs-12.col-sm-4
      p.lead= serviceDescription
