include _mixins
extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title

  .row
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-4

          .panel.panel-primary
            .panel-heading
              h2.panel-title Address
            .panel-body
              p= location.address

          .panel.panel-primary
            .panel-heading
              h2.panel-title Date
            .panel-body
              p
                +formatDatum(location.datum)

          .panel.panel-primary
            .panel-heading
              h2.panel-title Afterwards
            .panel-body
              p= location.afterwards

          .panel.panel-primary
            .panel-heading
              a.btn.btn-default.pull-right.joinButton(href="/location/join/new")
                span.glyphicon.glyphicon-user
              h2.panel-title Joining
            .panel-body
              for participant in location.participants
                .row
                  .well.well-sm.comment-header
                    span.participant= participant

        .col-xs-12.col-sm-8.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src=location.mapUrl)

          .panel.panel-primary.comment-panel
            .panel-heading
              a.btn.btn-default.pull-right.commentButton(href="/location/#{location._id}/comment/new")
                span.glyphicon.glyphicon-pencil
              h2.panel-title Comments

          .panel-body.comment-container
            for comment in location.comments
              .row
                .comment
                  .well.well-sm.comment-header
                    span.commentAuthor= comment.author
                    small.commentTimestamp.pull-right
                      +formatDatum(comment.createdOn)
                  .col-xs-12
                    p= comment.text

        .col-xs-12.col-sm-4
